<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\index.css">
    <title>Proyecto - Machine Learning</title>
</head>
<body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Logo_Universidad_Politécnica_Salesiana_del_Ecuador.png/640px-Logo_Universidad_Politécnica_Salesiana_del_Ecuador.png" alt="foo">
    <br>
    <h3>Integrantes: </h3>
    <h6>Rebeca Freire</h6>
    <br>
    <form action="pagina1" method="post">
        {% for message in get_flashed_messages() %}
            <p>{{message}}</p>
        {% endfor %}
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="GREET" id="pagina1"> <!-- id pagina1 -->
    </form>
</body>
</html>